[Desktop Entry]
NoDisplay=true
Type=Application
Version=2.20210610.0
Name=Kite
Comment=Kite - ML powered code completions
Exec=/home/ari/.local/share/kite/kited --system-boot
Hidden=false
