[user]
    email = ari@mail.ari-web.xyz
    name = Ari Archer
[credential]
    helper = cache
[gpg]
    program = gpg
[commit]
    gpgsign = true
[color "diff"]
    old = red strike
    new = green italic
[init]
    defaultBranch = main

