#!/bin/sh

# this script autostarts on startup
# please be careful

wallpaper="$HOME/Pictures/wallpaper.png"

bdwmb -q &
calcurse --daemon &
feh --bg-tile "$wallpaper" &
xautolock -time 10 -locker ~/.scripts/locker &
xset r rate 300 50 &

