#!/bin/sh

# this script autostarts on startup
# please be careful

wallpaper="$HOME/Pictures/wallpaper.png"

feh --bg-tile "$wallpaper" &
~/.dwm/dwm-bar/dwm_bar.sh 2>/dev/null &
xautolock -time 10 -locker /usr/local/bin/slock &

