#!/bin/sh

# this script autostarts on startup
# please be careful

# setxkbmap -option altwin:alt_win &

wallpaper="$HOME/Pictures/wallpaper.png"

bdwmb -q &
dunst &
calcurse --daemon &
feh --bg-tile --no-fehbg "$wallpaper" &
xautolock -time 10 -locker /usr/local/bin/dwmlocker &
xset r rate 300 50 &
xbacklight -set 80 &
