[Desktop Entry]
Name=sc-im
GenericName=Text Editor
TryExec=sc-im
Exec=sc-im %F
Terminal=true
Type=Application
Keywords=spreadsheet;editor;
Icon=sc-im
Categories=Utility;TextEditor;
StartupNotify=false
MimeType=text/csv

