:root {
    --navbarWidth     : 50vw; /* Set width of navbar. Use px or vw. */
    --animationSpeed  : 0.15s;
}



/* Back button */
#back-button {display: none !important}

/* Forward button */
#forward-button {display: none !important}

/* This is the "Search with" indicator on the urlbar */
#urlbar-search-mode-indicator {display: none !important}

/* Zoom button */
#urlbar-zoom-button {display: none !important}

/* Page action (right three dash button) */
#pageActionButton {display: none !important}

/* These are the buttons on the right of the urlbar */
#page-action-buttons {display: none !important}

/* Disable reload button showing */
#reload-button {display: none !important}

/* Disable new tab button */
#tabs-newtab-button {display: none !important}

/* This one is the hamburger menu! */
/* CAUTION: if you hide this some popups may be bugged */
#PanelUI-button {display: none !important}

/* This disables the extension showing */
.webextension-browser-action {display: none !important;}



#TabsToolbar {
    margin-left: var(--navbarWidth) !important;
}

#nav-bar {
    margin-right: calc(100vw - var(--navbarWidth)) !important;
    background: transparent !important;
    box-shadow: none !important;
}

.browserContainer {
    background-color: #262220 !important;
}



#urlbar-container {
    min-width: 0px !important;
}

:root[uidensity="compact"] #nav-bar {
    margin-top: -37px !important;
    height: 37px !important;
}

:root:not([uidensity="compact"]):not([uidensity="touch"]) #nav-bar {
    margin-top: -43.5px !important;
    height: 43.5px !important;
}

:root[uidensity="touch"] #nav-bar {
    margin-top: -49px !important;
    height: 49px !important;
}

#urlbar:not([breakout][breakout-extend]) > #urlbar-background {
    border: none !important;
    animation: 0.15s !important;
}

.urlbar-icon, #userContext-indicator, #userContext-label {
    fill: transparent !important;
    background-color: transparent !important;
    color: transparent !important;
    animation: var(--animationSpeed) !important;
}



#urlbar:hover .urlbar-icon,
#urlbar:active .urlbar-icon,
#urlbar[focused] .urlbar-icon {
    fill: var(--toolbar-color) !important;
}



/* animations */
toolbarbutton,
.toolbarbutton-icon,
.subviewbutton,
.urlbar-input-box,
#identity-box,
#tracking-protection-icon-container,
[anonid=urlbar-go-button],
.urlbar-icon-wrapper,
#tracking-protection-icon,
#identity-box image,
stack,
vbox,
tab:not(:active) .tab-background,
tab:not([beforeselected-visible])::after,
tab[visuallyselected] .tab-background::before,
tab[visuallyselected] .tab-background::before,
.tab-close-button {
    animation: var(--animationSpeed) !important;
}

/* Hide Spacer between URL and Tabs */
hbox.titlebar-spacer:nth-child(1) {visibility: collapse !important;}

/* Hide Spacer after Tabs */
hbox.titlebar-spacer:nth-child(3) {visibility: collapse !important;}

/* Hide Overflow Arrows on either side of the tabs section when not active */
#scrollbutton-up[disabled="true"] {opacity: 0 !important;}
#scrollbutton-down[disabled="true"] {opacity: 0 !important;}



/* Hide 'This time, search with:' Section */
.search-one-offs {
    visibility: collapse;
    margin: 0 !important;
    padding-top: 0px;
    border-top-style: solid;
    border-top-width: 1px;
}
#urlbar .search-one-offs:not([hidden]) {display: contents !important;}

/* Keep Borders Hidden on the Sides of the URL Bar */
#nav-bar{
    border-left-width: 0px !important;
    border-right-width: 0px !important;
}

/* Focused URL Bar Takes 100% width */
#urlbar[focused="true"] {
    display: block !important;
    position: fixed !important;
    width: 100% !important;
    height: var(--urlbar-height);
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2);
    left: 0;
    z-index: 10
}



/* Radius of Hover in DropDown Extention Panel */
:root { --arrowpanel-menuitem-border-radius: 0px !important }

/* Tabs Corner Radius */
:root { --tab-border-radius: 0px !important }

/* URL Bar Corner Radius */
:root { --toolbarbutton-border-radius: 0px !important }

/* Icons in the URL Bar liek the Shield Corner Raidus  */
:root { --urlbar-icon-border-radius: 0px !important }

/* Extention Panel, Hambuger Menu, and Extension Menus Corner Radius */
:root { --arrowpanel-border-radius: 0px !important }



#navigator-toolbox:not(:hover) {
    height: 5px !important;
    min-height: 0px !important;
    overflow: hidden !important;
}

#navigator-toolbox:focus,
#navigator-toolbox:focus-within,
#navigator-toolbox:active,
#urlbar[focused="true"] {
    height: auto !important;
    overflow: visible !important;
}




/* Hide Cover Tab Bar Focused URL Bar */
#urlbar[focused="true"], #searchbar[focused="true"] {
    min-height: 40px;
}

/* Remove Themeing */
menupopup,
menuitem,
menu {
    -moz-appearance: none !important;
}

/* Softens the Menu Separator in Right Click Menus */
menupopup menuseparator {
    -moz-appearance: meter !important;
}

/* Corners */
.panel-arrowcontent,
#alltabs-popup .arrowscrollbox-scrollbox,
menupopup:not(#BMB_bookmarksPopup),
.textbox-contextmenu {
    border-radius: 0px !important;
}



/*  Sets Background Color, Text Color, and Opacity  */
#mainPopupSet menupopup {
    color: var( --lwt-toolbar-field-color); /* Text Color */
    background-color: var(--autocomplete-popup-highlight-background) !important; /*This is the right click menu color*/
}



/* Color of hovered menu item */
menu[_moz-menuactive="true"], menuitem[_moz-menuactive="true"] {
    background-color: var(--lwt-toolbarbutton-icon-fill-attention) !important;
}

/* Side Panel Header Drop Down */
image.panel-arrow {
    color: var(--autocomplete-popup-highlight-background) !important; /*This is the right click menu color of the little arrow */
}

/* Side Panel Drop Down Menu Hover Color */
.subviewbutton:hover {
    background-color: var(--lwt-toolbarbutton-icon-fill-attention) !important
}

box.panel-arrowcontent{
    color:var(--lwt-tab-text, var(--toolbar-color)) !important; /* Text Color */
    background: var(--autocomplete-popup-highlight-background) !important; /*This is the right click menu color*/
    box-shadow:  var(--autocomplete-popup-highlight-background) !important;
}

/* context menus in the ui like the url bar */
arrowscrollbox.menupopup-arrowscrollbox {
    color:var(--lwt-tab-text, var(--toolbar-color)) !important; /* Text Color */
    background: var(--autocomplete-popup-highlight-background) !important; /*This is the right click menu color*/
    box-shadow:  var(--autocomplete-popup-highlight-background) !important;
    border-radius: 5px !important;
}

image.panel-arrow {
    fill: var(--autocomplete-popup-highlight-background) !important;
    stroke:  var(--autocomplete-popup-highlight-background) !important;
}


/* Selected Tab Background Color */
.tab-background[selected="true"] {
    background: var(--autocomplete-popup-highlight-background) !important;
}



/* Bar between the bookmarks bar and the page  */
#sidebar-splitter {
    border: none !important;
    opacity: 1 !important;
    -moz-appearance: -moz-mac-vibrancy-dark !important;
}


#main-window{ background-color: transparent !important }

/* Old tab designs tabs */
.tab-background {
    border-radius: 0px 0px !important;
    margin-bottom: 0px !important;
}

.tabbrowser-tab:not([selected=true]):not([multiselected=true]) .tab-background {
    background-color: color-mix(in srgb, currentColor 5%, transparent);
}

menupopup>menu,
menupopup>menuitem {
    padding-block: 10px !important;
}

:root {
    --arrowpanel-menuitem-padding: 2px !important;
}

.scrollbox {
    padding: 0 !important;
}

